:root{
    --background-main:#F6F8FF;
    --color-text-title:#222731;
    --color-mode:#697C9A;
    --white-bg:#FEFEFE;
    --white-text:#FFF;
    --btn-bg:#0079FF;
    --color-text-name:#2B3442;
    --color-bio:#4B6A9B;
    --color-error:#F74646;
}